include README.md LICENSE
recursive-include oras *.png
recursive-include oras *.sh
recursive-include oras *
recursive-include * *.png
prune env*
global-exclude .env
global-exclude *.py[co]
recursive-exclude .git *
global-exclude __pycache__
prune docs*
